
$scheme-1:( #3E556E, #88BAF0, #1D446E);
$scheme-2:#333B6E #6F80F0 #121E6E;
$scheme-3:#58526E #C0B3F0 #3D316E #856AED #6853BA;

$scheme:$scheme-3;

$body-bg-color:"";
$main-bg-color:"";
$subtitle-color:"";
$text-intro-color:"";

@each $a,$b,$c,$d,$e in (),$scheme {
  $body-bg-color:$a;
  $main-bg-color:$b;
  $subtitle-color:$e;
  $text-intro-color:$e;
}

