/* @font-face {
  font-family:"Lobster";
  src:url("./font/Lobster-Regular.ttf");
} */

body{
  max-width:960px;
  margin:0 auto;
  color:#1f2229;
  background:#6c848c
}
section p{
   max-width:600px; 
}
main{
  padding:10px 10px;
  background:#6c848c;
  /* #4467a5 
   * #6c848c
   * #429c45  #4caf50
   * #a4af35
   *  
   */
}
.block-center{
  margin-left:auto;
  margin-right:auto;
  display:block;
  max-width:850px;
}
.subtitle{
  text-align:center;
  text-transform:uppercase;
  color:white;
  font-family: 'Lobster', cursive;
}
section .container{
  background:white;
  box-shadow:2px 2px 2px rgba(0,0,0,0.2);
  padding:20px 0;
}
.head-picture{
    max-width:250px;
    height:auto;
    border-radius:50%;
}
.padding-10{
    padding:10px;
  }
.padding-20{
  padding:20px;
}
.float-right{
    float:right;
}
.top-margin-50{
  margin-top:50px;
}

.tip-container{
  padding:0 15px;
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
}
.project-item{
  padding:10px 20px;
}
.project-item p{
  padding:10px 15px; 
  text-align:center;
  color:#666
}
    

.quote-blue{
  border-left:5px #3498db solid;
  background:#d6efff;
  color:#2a7da9;

}
.quote-yellow{
  border-left:5px #80bd01 solid;
  background:#eaf6d0;
  color:#6e9c0f;
}
img{
    display:block;
    width:100%;
    height:auto;
  }

.exp-period{
  border-top:3px #3D316E solid;
  max-width:250px;
  display:inline-block; 
  text-align:left;
  position:relative;
  box-sizing:border-box;
  vertical-align: top;
}
.exp-period-point{
  display:block;
  position:absolute;
  width:15px;
  height:15px;
  border-radius:50%;
  background:#856AED;
  top:-9px;
  left:-9px;
}
.exp-date{
  display:block;
  position:absolute;
  top:-1.5em;
  left:8px;
}
.exp-description{
  margin:10px 10px 30px;
}
.line-front::before {
  content:"";
  display:inline-block;
  vertical-align:middle;
  width:100%;
  height:0; 
  border-top:3px #eee solid;
  position:absolute;
  top:40%;
  left:0;  
  z-index: 0;
}
.line-front i{
  background:white;
  position:relative;
  padding:0 5px 0 10px;
  font-size:16px;
}
.line-front{
  position:relative;
}
.flex-around{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact-item{
  display:inline-block;
  padding:5px;
}
.text-3rem{
  font-size:3rem;
}
a{
  color:#856AED;
}
.color-white{
  color:white;
}
.hover-color-light:hover{
  color:#6F80F0;
}
.max-width-600{
  max-width:600px;
}
@media (max-width:768px){
    .container p.float-right{
        clear:both;
    }
    .head-picture{
      width:100%;
      }
    .sm-text-left{
      text-align:left;
    }
    .sm-block-center{
      margin-left:auto;
      margin-right:auto;
      display:block;
    }
    .sm-top-margin-0{
      margin-top:0;
    }
    .sm-bottom-margin-15{
      margin-bottom:15px;
    }
    .sm-max-width-500{
      max-width:500px;
    }
    .project .project-item{
      max-width:350px;
    }
}
  @media (max-width:578px){
    .exp-period{
      border-top-style:dotted;
      border-left:3px #3D316E solid;
    }
    .exp-period-now{
      width:250px;
      height:20px;
    }

  }
  
@media (min-width:769px){
  .md-width-10{
    width:100%;
  }
  .md-width-8{
    width:80%;
  }
  .md-width-6{
    width:60%;
  }
  .md-width-5{
    width:50%;
  }
  .md-width-4{
    width:40%;
  }
  .tip-container{
    position:relative;
  }
  .tip-container ul{
    position:absolute;
    top:10px;
    left:20%;
    z-index:2;
    /* display:none; */
    transition:all 0.5s;
    opacity:0;
    cursor:default;
    background:rgba(255,255,255,0.8);
  }
  .tip-container div:hover ul{
    display:block;
    opacity:1;
  }
}
@media (min-width:992px){
  .container{
    width:920px;
  }
  main{
    margin-top:20px;
  }
}
footer{
  text-align:center;
  margin:15px;
  color:white;
}

@media (min-width:1023px){
   body main{
    background:white;
  }
  section .container{
    box-shadow:0 2px 0 rgba(0,0,0,0.2);
  }
   section:last-child .container{
    box-shadow:none;
  } 
  .tip-container h4{
    border:none;
  }
  .tip-container ul{
    display:block;
    position:initial;
    opacity: 1;
  }
  .tip-container>div{
    width:50%;
    float:left;
    padding-right:20px;
  }

}

.clear-float::after{
  content:"";
  display:block;
  clear:both;
}